body{
    margin:0;
    padding:0;
}
/*NAVBAR*/
header{
    background: url(280-2800784_anime-beautiful-sunrise-landscape-sky-clouds-anime-landscape.jpg);
    background-position: center;
    background-size: cover;
    color: #FFF;
    height: 100vh;
    position: relative;
}
.overlay{
    background : rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
}
.navbar-light {
	background-color:transparent !important;
	border-color:transparent !important;
	background-image:none !important;
    box-shadow:none;	
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: #FFF !important;
    padding:0px 40px;
}

.nav-link {
   font-size:20px; 
   color:#fff !important; 
    padding:10px 30px !important;
}
.nav-link:hover{
    color: lightblue !important;
     border-bottom: 1px solid #FFF;
}
.navbar-toggler {
    margin:10px 0; 
    background:#fff; 
}
/*NAVBAR ENDS*/
/*CARD*/
.card .img1{
    border : 1px solid red;
}
.card .img2{
    border: 1px solid orange;
}
.card .img3{
    border: 1px solid lightblue;
}
.card .img4{
    border: 1px solid green;
}
.c5{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*CARD END*/

.items h2{
    color:#cc0000;
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
}
.about{
    color: #ffcc00;
}

/*Subscirbe*/
.subscribe{
    margin-top:40px;
}
/*End*/
/*Media Queries*/
@media(min-width:1200px){
    .contact{
        margin-left:40px;
    }
    .quick{
        margin-left:50px;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .contact{
        margin-left:20px;
    }
    .quick{
        margin-left:50px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .contact{
        margin-left:20px;
    }
    .quick{
        margin-left:30px;
    }
}

@media(min-width:600px) and (max-width:767px){
    .nav-link{
        transition:all 0.3s ease-in-out;
    }
    .nav-link:hover{
        border-bottom: 1px solid #FFF;
    }
    .aboutthe{
        margin-top:30px;
    }
    .aboutthe{
        margin-top:30px;
    }
    .contact{
        margin-top:30px;
    }
    .quick{
        margin-top:30px;
    }
    .h1{
        display:block !important;
    }
    .h2{
        display:block !important;
    }
    .l1{
        margin-top:40px !important;
    }
    .l2{
        margin-top:80px !important;
        overflow:hidden !important;
    }
    .subscribe{
        margin-top:140px;
    }
}
@media(max-width:600px){
    .nav-link{
        transition:all 0.3s ease-in-out;
    }
    .nav-link:hover{
        border-bottom: 1px solid #FFF;
    }
    .aboutthe{
        margin-top:30px;
    }
    .contact{
        margin-top:30px;
    }
    .quick{
        margin-top:30px;
    }
    .h1{
        display:block !important;
    }
    .h2{
        display:block !important;
    }
    .l1{
        margin-top:40px !important;
    }
    .l2{
        margin-top:80px !important;
        overflow:hidden !important;
    }
    .subscribe{
        margin-top:140px;
    }
    
}
/*End MEDIA QUERIRES*/
/*FOOTER*/

footer p{
    color:#6c6b75;
}
.quick a{
    transition:color 0.2s ease;
    color:#6c6b75;
}
.quick a:hover{
   color:blue;
}

/*END FOOTER*/