body{
    margin:0;
    padding:0;
}

.navbar-nav a{
    color:white !important;
}
.navbar-collapse{
    background-color: #cc0000;
}
.navbar-nav a:hover,.navbar-nav a:focus{
   background-color:#ff6600 !important;
}
.navbar-toggle{
    margin-top:15px;
    border:1px solid white;
}
.navbar-default{
    font-family: 'Times New Roman', Times, serif;
    margin:-2px -1px 0px -1px;
    height: 70px;
    background-color: #cc0000;
}
.navbar-brand h1{
    margin:0px !important;
    color:white;
    transition: all 0.4s ease;
}
.navbar-brand h1:hover{
    color:orange;
}
.navbar-collapse{
    padding-top:10px;
    font-size:1.4em;
}
.second{
    padding-top:3px;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:white !important;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    background-color: #cc0000;
}
/*-----MAIN BODY-------*/
.container{
    padding-top:40px;
}
.jumbotron{
    padding:0 !important;
}
.items p{
    font-size:22px;
    font-family: 'Times New Roman', Times, serif;
}

/*<-------END------->*/
/*<--MEDIA QUERIES-->*/
@media(min-width:1200px){
    .container{
        padding-top:60px;
    }
    .jumbotron{
        background: url(293311_1150x656.jpg) center no-repeat;
        height:600px;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .container{
        padding-top:60px;
    }
    .jumbotron{
        background: url(293311_1_1100x656.jpg) center no-repeat;
        height:550px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .container{
        padding-top:60px;
    }
    .jumbotron{
        background: url(293311_2_1000x656.jpg) center no-repeat;
        height:450px;
    }
    footer{
        text-align: center;
    }
    .cpy{
        text-align: center !important;
    }
}
@media(max-width:768px){
    footer{
        text-align: center;
    }
    .cpy{
        text-align: center !important;
    }
}



/*<--END OF QUERIES-->*/
/*FOOTER*/
footer{
    margin-top:30px;
    background-color: #cc0000;
    font-size:20px;
    padding:10px;
    color:white;
    font-weight: bold;
    font-size:20px;
}
footer a{
    color:white;
    text-decoration: none;
    transition:all 0.3s ease;
}
footer a:hover{
    text-decoration: none;
    color:#660033;
}
.icons{
    text-align: center;
    display: inline-block;
}
.icons a{
    padding-left:10px;
}
.cpy{
    text-align: right;
}

/*END FOOTER*/